<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>World Wings</title>
		<link href="/assets/css/wingstyle.css" rel="stylesheet">
		<!-- <style>
		h1{
			color: blue;
		}
		</style> -->
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
