
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pane">
  
</div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 sect">
  <div class="totusTuus">

    <h1 class='mainHeader' id='mainHeader'>World Wings</h1>
    <hr>
    <div id='addFlavor'>

<form class="create-update-form" action="/" method="POST">
    <h4>Add a Flavor</h4>
  <div class="form-group">
    <label for="ca">Wing Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">hungry?</label><br>
    <input type="radio" name="hungry" value="1" checked> hungry!<br>
    <input type="radio" name="hungry" value="0"> Full
  </div>

  <button type="submit">Add Flavor</button>
</form>
</div>

<div class='mainSection' id='eat'>
<h4>wings that are not hungry!</h4>

<ul>
  {{#each wings}}
    {{#unless this.hungry}}
      <li class='eatList'>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="hungry" value="true">
          <button type="submit">stuffed</button>
        </form>

        {{> wings/delete-wing}}
      </li>
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class='mainSection' id='eaten'>
<h4>wings that are hungry!</h4>

<ul>
  {{#each wings}}
    {{#if this.hungry}}
      <li class='eatenList'>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="hungry" value="false">
          <button type="submit">hungry</button>
        </form>

        {{> wings/delete-wing}}
      </li>
    {{/if}}
  {{/each}}
</ul>
</div>

</div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pane">
  
</div>

