<!DOCTYPE html>
<div class="container">
	<h1> World Wings </h1>
	<div class="row">
		<div class="col-lg-12 main">
			<div id="mainAction">
				<h3> Enter some wing flavors</h3>
				<input id="userInput">
			</div>
		</div>
	</div>
</div>