/*.totusTuus{
  margin-left: 10%;
  margin-right: 10%;
}*/

.pane {
  background-color: black;
  height: 710px;
}

.mainSection {
  float: left;
  border: solid 2px black;
  width: 47%;
  padding: 10px;
  margin-left: 15px;
}

#mainHeader {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  font-weight: bolder;
}

.sect {
  background-image: url(../images/back2.jpg);
  background-size: cover;
  height: 710px;
}

hr {
  border-color: black;
}

li {
  float: left;
  text-align: center;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border-radius: 3px;
  font-weight: bolder;
  font-size: 20px;
}

button {
  font-size: 12px;
  width: 60px;
  background-color: black;
  color: white;
  border: solid 3px red;
  border-radius: 3px;
}

.eatList {
  background-color: lawngreen;
}

.eatenList {
  background-color: orange;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 10px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
  padding: 5px;
}

ul {
  list-style: none;
}

#addFlavor {
  clear: both;
  margin-left: 11px;
  margin-right: 31px;

}